In [1]:
import audible_plot as ap
import ccxt
import numpy as np
import pandas as pd
import talib as ta

binanceusdm = ccxt.binanceusdm()

In [2]:
candles = np.array(binanceusdm.fetch_ohlcv("BTCUSDT", "4h", params={"paginate": True}))

In [3]:
data = pd.DataFrame(
    data=candles[:, 1:],
    index=pd.to_datetime(pd.Series(candles[:, 0], name="timestamp"), unit="ms"),
    columns=["open", "high", "low", "close", "volume"],
)
data

                         open      high       low     close     volume
timestamp
2020-04-11 08:00:00   6873.00   6893.40   6828.19   6876.45  36309.728
2020-04-11 12:00:00   6875.98   6887.12   6802.22   6830.00  34218.984
2020-04-11 16:00:00   6829.20   6859.02   6769.16   6801.28  46080.976
2020-04-11 20:00:00   6801.28   6885.69   6757.29   6874.18  41611.265
2020-04-12 00:00:00   6874.17   6908.00   6785.22   6806.32  30981.266
...                       ...       ...       ...       ...        ...
2024-11-02 04:00:00  69599.90  69822.50  69450.00  69813.10   9480.066
2024-11-02 08:00:00  69813.00  69846.20  69413.00  69602.50   9919.876
2024-11-02 12:00:00  69602.60  69700.00  69022.80  69394.00  25701.195
2024-11-02 16:00:00  69393.90  69610.90  69221.60  69502.60  11944.529
2024-11-02 20:00:00  69502.50  69570.00  69449.60  69459.50   1778.437

[10000 rows x 5 columns]

In [4]:
data["bb_up"], data["bb_mid"], data["bb_low"] = ta.BBANDS(data["close"], 20)
data["rsi"] = ta.RSI(data["close"], 14)
data["aroon_down"], data["aroon_up"] = ta.AROON(data["high"], data["low"])
data["aroon_osc"] = ta.AROONOSC(data["high"], data["low"])
data = data.dropna()
data["aroon_zero"] = 0
data

C:\Users\franc\AppData\Local\Temp\ipykernel_10032\3228905224.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['aroon_zero']=0

,open,high,low,close,volume,bb_up,bb_mid,bb_low,rsi,aroon_down,aroon_up,aroon_osc,aroon_zero
timestamp,,,,,,,,,,,,,
2020-04-14 12:00:00,6823.67,6946.00,6793.09,6900.59,67501.221,7031.863077,6839.8890,6647.914923,52.068161,35.714286,21.428571,-14.285714,0
2020-04-14 16:00:00,6900.59,6975.60,6855.00,6911.30,52137.108,7035.524424,6841.6315,6647.738576,52.634846,28.571429,14.285714,-14.285714,0
2020-04-14 20:00:00,6911.47,6925.95,6825.99,6864.11,34311.661,7037.390676,6843.3370,6649.283324,49.838884,21.428571,7.142857,-14.285714,0
2020-04-15 00:00:00,6864.11,6912.00,6805.00,6901.70,33577.409,7042.994783,6848.3580,6653.721217,52.025032,14.285714,0.000000,-14.285714,0
2020-04-15 04:00:00,6901.71,6929.00,6855.34,6860.10,30489.966,7042.013755,6847.6540,6653.294245,49.456182,7.142857,0.000000,-7.142857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-02 04:00:00,69599.90,69822.50,69450.00,69813.10,9480.066,73368.990899,70854.7450,68340.499101,46.278775,78.571429,0.000000,-78.571429,0
2024-11-02 08:00:00,69813.00,69846.20,69413.00,69602.50,9919.876,73207.465982,70722.3750,68237.284018,44.310346,71.428571,14.285714,-57.142857,0
2024-11-02 12:00:00,69602.60,69700.00,69022.80,69394.00,25701.195,73026.008958,70579.8350,68133.661042,42.388078,64.285714,7.142857,-57.142857,0
2024-11-02 16:00:00,69393.90,69610.90,69221.60,69502.60,11944.529,72853.796895,70455.2150,68056.633105,43.756714,57.142857,0.000000,-57.142857,0
2024-11-02 20:00:00,69502.50,69570.00,69449.60,69459.50,1778.437,72642.494960,70325.2500,68008.005040,43.316904,50.000000,0.000000,-50.000000,0

In [9]:
chart = ap.AudibleChart(
    data=data,
    config=[
        ap.SeriesConfig(
            key="close",
            renderer=ap.PitchDataRenderer(
                enable_transitions=True,
                generator=ap.ToneGenerator(ap.ToneGenerator.WaveType.sawtooth),
                volume=0.1,
            ),
        ),
        ap.SeriesConfig(
            key="bb_mid",
            renderer=ap.PitchDataRenderer(
                enable_transitions=True,
                generator=ap.ToneGenerator(),
                volume=0.5,
            ),
        ),
        ap.SeriesConfig(
            key="bb_up",
            renderer=ap.PitchDataRenderer(
                enable_transitions=True,
                generator=ap.ToneGenerator(),
                volume=0.5,
                pan=0.3,
            ),
        ),
        ap.SeriesConfig(
            key="bb_low",
            renderer=ap.PitchDataRenderer(
                enable_transitions=True,
                generator=ap.ToneGenerator(),
                volume=0.5,
                pan=-0.3,
            ),
        ),
        ap.SeriesConfig(
            is_extra=True,
            key="aroon_zero",
            renderer=ap.PitchDataRenderer(
                enable_transitions=True,
                generator=ap.ToneGenerator(
                    wave_type=ap.ToneGenerator.WaveType.triangle
                ),
                pan=0.8,
            ),
            range=ap.FixedRange(-100, 100),
        ),
        ap.SeriesConfig(
            is_extra=True,
            key="aroon_osc",
            renderer=ap.ConditionalRenderer(
                condition=lambda v: v > 50 or v <= -50,
                mapper=lambda v: 1 if v > 50 else -1,
                renderer=ap.PitchDataRenderer(
                    enable_transitions=True,
                    generator=ap.ToneGenerator(
                        wave_type=ap.ToneGenerator.WaveType.triangle
                    ),
                    pan=0.3,
                ),
            ),
            range=ap.FixedRange(-1, 1),
        ),
    ],
    frequency_range=ap.FixedRange(300, 800),
    sample_rate=44100,
)

window = chart.window(slice(-100, None))
window.play(
    [
        # "bb_low",
        "close",
        "aroon_osc",
        # "aroon_zero",
    ]
)